In [1]:
import os
os.chdir('../../')

import pandas as pd
import json

In [3]:
data = pd.read_csv('project_lookup.csv')

In [5]:
s1 = pd.read_csv('target_lists/s0001.csv')
s2 = pd.read_csv('target_lists/s0002.csv')

In [6]:
tic = pd.read_csv('tic.txt',sep='\t')
tic.head()

      tic_id   Tmag
0  269273552 -1.745
1  175934060 -1.679
2  459832522 -1.254
3  245873777 -1.200
4  272314138 -1.043

## IDs in Sector 1

How many TIC IDs from `eleanor-lite` are in the TIC Catalog

In [9]:
s1[s1['#TIC_ID'].isin(tic.tic_id)]

             #TIC_ID          RA        DEC
0            8195168  311.407811 -40.257418
2            8195188  311.393197 -40.191972
6            8195216  311.405624 -40.137817
15           8195274  311.373213 -39.993240
20           8195299  311.340945 -39.936318
...              ...         ...        ...
2593103  10005000396  348.702087 -43.599941
2593104  10005000425  344.326538 -41.070572
2593105  10005000427  335.239319 -46.035851
2593106  10005000483   57.456020 -71.635384
2593107  10005000540    6.022330 -72.081444

[313546 rows x 3 columns]

How many TIC IDs from `eleanor-lite` are in the old lookup

In [12]:
s1[s1['#TIC_ID'].isin(data.TIC_ID[data.Sector == 1])]

             #TIC_ID          RA        DEC
0            8195168  311.407811 -40.257418
2            8195188  311.393197 -40.191972
6            8195216  311.405624 -40.137817
15           8195274  311.373213 -39.993240
20           8195299  311.340945 -39.936318
...              ...         ...        ...
2593103  10005000396  348.702087 -43.599941
2593104  10005000425  344.326538 -41.070572
2593105  10005000427  335.239319 -46.035851
2593106  10005000483   57.456020 -71.635384
2593107  10005000540    6.022330 -72.081444

[286194 rows x 3 columns]

How many TIC IDs in the old lookup are in the TIC Catalog

In [14]:
data.TIC_ID[data.Sector == 1][data.TIC_ID.isin(tic.tic_id)]

0         159670453
1         389450629
2         159671133
3         389450601
4         115115510
            ...
286203     40337767
286204     30931836
286205    370041020
286206     31927505
286207    255567371
Name: TIC_ID, Length: 286208, dtype: int64

How many from the old lookup are not in the `eleanor-lite` lookup

In [17]:
data.TIC_ID[data.Sector == 1][~data.TIC_ID.isin(s1['#TIC_ID'])]

2537      140859822
9375      404804908
60861     149306590
94371     167042726
94824     404971569
101078     31530240
150991    149161062
208991    382372645
220363    220418116
222121    389798100
225921     30311874
235590    295068953
235680     40275879
263091    441405166
Name: TIC_ID, dtype: int64